.header {
    width: 100%;
    height: 5.5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    font-size: 1.2em;
}

.logo h1 a {
    text-decoration: none;
    font-weight: 400;
}

.logoDark {
    color: #FDFDFD;
    transition: 1s;
}

.logoLight {
    color: #161313;
    transition: 1s;
}


.header nav ul {
    width: 50em;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.header nav ul li a {
    text-decoration: none;
    font-size: 1.1em;
    position: relative;
    padding: 0 5px 5px;
}

.menuLight a {
    color: #161313;
    transition: .2s;
}

.menuDark a {
    color: #FDFDFD;
    transition: .2s;
}

.header nav ul li a::after,
.header nav ul li .mark::after {
    content: "";
    position: absolute;
    inset: calc(100% - 3px) 0 0 0;
    background-color: #DF7D7D;
    scale: 0 1;
    transition: .3s, translate 0s .3s;
}

.header nav ul li a:hover::after,
.header nav ul li .mark::after {
    scale: 1;
}

.header nav ul li .mark {
    color: #DF7D7D;
}