.theme {
    width: 5.5em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-left: solid 1px #7A3535;
}

.theme svg {
    height: 1.8em;
    width: 1.8em;
}

.dark {
    color: #FDFDFD;
}

.light {
    color: #161313;
}

@media screen and (max-width: 1024px) and (min-width: 870px) {
    .theme {
        width: 4.5em;
    }

    .theme svg {
        height: 1.5em;
        width: 1.5em;
    }
}

@media screen and (max-width: 869px) and (min-width: 768px) {
    .theme {
        width: 4.5em;
    }

    .theme svg {
        height: 1.5em;
        width: 1.5em;
    }
}

@media screen and (max-width: 767px) {
    .theme {
        border-left: none;
        width: 3em;
    } 

    .theme svg {
        height: 1.5em;
        width: 1.5em;
    }
}